AI Deal Flow Email Intelligence System.json
{
  "name": "AI Deal Flow Email Intelligence System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "subject",
          "from",
          "body",
          "receivedDateTime",
          "webLink",
          "internetMessageId"
        ],
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "82f5f9e8-4696-4443-8952-30d3962c3bdd",
      "name": "New Deal Flow Email",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "tPWQ2GHb6kHW7mUv",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and clean HTML email body\nconst emailBody = $input.item.json.body?.content || '';\n\n// Remove HTML tags\nlet cleanText = emailBody\n  .replace(/<style[^>]*>.*?<\\/style>/gis, '')\n  .replace(/<script[^>]*>.*?<\\/script>/gis, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"');\n\n// Remove excessive whitespace\ncleanText = cleanText\n  .replace(/\\s+/g, ' ')\n  .replace(/\\n\\s*\\n/g, '\\n')\n  .trim();\n\n// Try to remove common email signatures\nconst signaturePatterns = [\n  /Best regards[\\s\\S]*$/i,\n  /Sincerely[\\s\\S]*$/i,\n  /Thanks[\\s\\S]*$/i,\n  /Sent from my [\\s\\S]*$/i,\n  /--[\\s\\S]*$/\n];\n\nfor (const pattern of signaturePatterns) {\n  const match = cleanText.match(pattern);\n  if (match && match.index > 200) {\n    cleanText = cleanText.substring(0, match.index).trim();\n    break;\n  }\n}\n\nreturn {\n  json: {\n    cleanEmailBody: cleanText,\n    subject: $input.item.json.subject,\n    sender: $input.item.json.from?.emailAddress?.address || '',\n    senderName: $input.item.json.from?.emailAddress?.name || '',\n    receivedDateTime: $input.item.json.receivedDateTime,\n    webLink: $input.item.json.webLink,\n    messageId: $input.item.json.internetMessageId\n  }\n};"
      },
      "id": "9c06d3e0-9357-462d-aa2a-025068cc8d8d",
      "name": "Clean HTML Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "aiPrompt",
              "value": "=You are a business acquisition data extraction specialist. Extract structured information from the following broker email about a business acquisition opportunity.\n\nEMAIL SUBJECT: {{ $json.subject }}\nEMAIL BODY:\n{{ $json.cleanEmailBody }}\n\nCRITICAL INSTRUCTIONS:\n1. Return ONLY raw valid JSON - NO markdown, NO code blocks, NO explanations\n2. Use these exact field names\n3. If data is missing, use empty string \"\"\n4. Convert ALL money abbreviations to full numbers:\n   - K = thousand (e.g., 850K = 850000)\n   - M = million (e.g., 3.5M = 3500000)\n   - B = billion (e.g., 1.2B = 1200000000)\n5. Return numbers WITHOUT currency symbols or commas\n6. Include a confidence score (1-10) and deal quality score (1-10)\n\nREQUIRED JSON STRUCTURE:\n{\n  \"companyName\": \"\",\n  \"industry\": \"\",\n  \"businessModel\": \"\",\n  \"location\": \"\",\n  \"askingPrice\": 0,\n  \"revenue\": 0,\n  \"ebitda\": 0,\n  \"cashFlow\": 0,\n  \"contactName\": \"\",\n  \"contactEmail\": \"\",\n  \"brokerName\": \"\",\n  \"website\": \"\",\n  \"dealSummary\": \"\",\n  \"investmentHighlights\": \"\",\n  \"risks\": \"\",\n  \"confidenceScore\": 0,\n  \"dealQualityScore\": 0\n}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "17d3c137-0997-4d01-aa45-6112733f59d0",
      "name": "Build Claude AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        368
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract Claude response safely\nconst response = $input.item.json;\nlet extractedData = null;\nlet parseSuccess = false;\n\ntry {\n  // Get the text content from Claude response\n  const contentText = response.content?.[0]?.text || '';\n  \n  if (!contentText) {\n    throw new Error('No content in Claude response');\n  }\n  \n  // Try to parse JSON directly\n  try {\n    extractedData = JSON.parse(contentText);\n    parseSuccess = true;\n  } catch (e) {\n    // If direct parse fails, try to extract JSON from markdown code blocks\n    const jsonMatch = contentText.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch) {\n      extractedData = JSON.parse(jsonMatch[1]);\n      parseSuccess = true;\n    } else {\n      // Try to find JSON object in text\n      const objectMatch = contentText.match(/\\{[\\s\\S]*\\}/);\n      if (objectMatch) {\n        extractedData = JSON.parse(objectMatch[0]);\n        parseSuccess = true;\n      } else {\n        throw new Error('Could not extract JSON from response');\n      }\n    }\n  }\n  \n  // Validate required fields exist\n  const requiredFields = ['companyName', 'askingPrice', 'revenue', 'ebitda'];\n  for (const field of requiredFields) {\n    if (!(field in extractedData)) {\n      extractedData[field] = field === 'companyName' ? '' : 0;\n    }\n  }\n  \n} catch (error) {\n  // Fallback: create empty structure\n  extractedData = {\n    companyName: '',\n    industry: '',\n    businessModel: '',\n    location: '',\n    askingPrice: 0,\n    revenue: 0,\n    ebitda: 0,\n    cashFlow: 0,\n    contactName: '',\n    contactEmail: '',\n    brokerName: '',\n    website: '',\n    dealSummary: '',\n    investmentHighlights: '',\n    risks: '',\n    confidenceScore: 0,\n    dealQualityScore: 0\n  };\n  parseSuccess = false;\n}\n\nreturn {\n  json: {\n    ...extractedData,\n    parseSuccess: parseSuccess,\n    rawResponse: response.content?.[0]?.text || ''\n  }\n};"
      },
      "id": "a26dfe16-ab8c-4273-9f69-76a65c6292df",
      "name": "Extract Claude JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.parseSuccess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "eb81ac51-42b9-463d-8f2b-e5390edfaa77",
      "name": "Validate AI Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize financial values - remove symbols, convert K/M/B to numbers\nfunction normalizeFinancial(value) {\n  if (typeof value === 'number') {\n    return value;\n  }\n  \n  if (!value || typeof value !== 'string') {\n    return 0;\n  }\n  \n  // Remove currency symbols, commas, spaces\n  let cleaned = value\n    .replace(/[$€£¥,\\s]/g, '')\n    .trim()\n    .toUpperCase();\n  \n  if (!cleaned) {\n    return 0;\n  }\n  \n  // Handle K, M, B multipliers\n  let multiplier = 1;\n  if (cleaned.endsWith('K')) {\n    multiplier = 1000;\n    cleaned = cleaned.slice(0, -1);\n  } else if (cleaned.endsWith('M')) {\n    multiplier = 1000000;\n    cleaned = cleaned.slice(0, -1);\n  } else if (cleaned.endsWith('B')) {\n    multiplier = 1000000000;\n    cleaned = cleaned.slice(0, -1);\n  }\n  \n  // Parse the number\n  const num = parseFloat(cleaned);\n  return isNaN(num) ? 0 : Math.round(num * multiplier);\n}\n\nconst data = $input.item.json;\n\nreturn {\n  json: {\n    companyName: data.companyName || '',\n    industry: data.industry || '',\n    businessModel: data.businessModel || '',\n    location: data.location || '',\n    askingPrice: normalizeFinancial(data.askingPrice),\n    revenue: normalizeFinancial(data.revenue),\n    ebitda: normalizeFinancial(data.ebitda),\n    cashFlow: normalizeFinancial(data.cashFlow),\n    contactName: data.contactName || '',\n    contactEmail: data.contactEmail || '',\n    brokerName: data.brokerName || '',\n    website: data.website || '',\n    dealSummary: data.dealSummary || '',\n    investmentHighlights: data.investmentHighlights || '',\n    risks: data.risks || '',\n    confidenceScore: parseInt(data.confidenceScore) || 0,\n    dealQualityScore: parseInt(data.dealQualityScore) || 0\n  }\n};"
      },
      "id": "c4feeb4d-5360-4def-9d4b-4b1b9b6a3fda",
      "name": "Normalize Financial Values",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "company",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "industry",
              "value": "={{ $json.industry }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "businessModel",
              "value": "={{ $json.businessModel }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "askingPrice",
              "value": "={{ $json.askingPrice }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "revenue",
              "value": "={{ $json.revenue }}",
              "type": "number"
            },
            {
              "id": "8",
              "name": "ebitda",
              "value": "={{ $json.ebitda }}",
              "type": "number"
            },
            {
              "id": "9",
              "name": "cashFlow",
              "value": "={{ $json.cashFlow }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "contactName",
              "value": "={{ $json.contactName }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "contactEmail",
              "value": "={{ $json.contactEmail }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "brokerName",
              "value": "={{ $json.brokerName }}",
              "type": "string"
            },
            {
              "id": "13",
              "name": "website",
              "value": "={{ $json.website }}",
              "type": "string"
            },
            {
              "id": "14",
              "name": "dealSummary",
              "value": "={{ $json.dealSummary }}",
              "type": "string"
            },
            {
              "id": "15",
              "name": "investmentHighlights",
              "value": "={{ $json.investmentHighlights }}",
              "type": "string"
            },
            {
              "id": "16",
              "name": "risks",
              "value": "={{ $json.risks }}",
              "type": "string"
            },
            {
              "id": "17",
              "name": "emailSubject",
              "value": "={{ $(\"Clean HTML Email Body\").item.json.subject }}",
              "type": "string"
            },
            {
              "id": "18",
              "name": "emailLink",
              "value": "={{ $(\"Clean HTML Email Body\").item.json.webLink }}",
              "type": "string"
            },
            {
              "id": "19",
              "name": "messageId",
              "value": "={{ $(\"Clean HTML Email Body\").item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "20",
              "name": "confidenceScore",
              "value": "={{ $json.confidenceScore }}",
              "type": "number"
            },
            {
              "id": "21",
              "name": "dealQualityScore",
              "value": "={{ $json.dealQualityScore }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3742182e-1bde-46d8-90ed-9b257bdeff62",
      "name": "Prepare Final Structured Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c0a1af92-9b49-42f7-893c-924bfb71919d",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZYdvZ4Zvr4kB1d8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "errorType",
              "value": "AI_PARSE_FAILURE",
              "type": "string"
            },
            {
              "id": "2",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "emailSubject",
              "value": "={{ $(\"Clean HTML Email Body\").item.json.subject }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "messageId",
              "value": "={{ $(\"Clean HTML Email Body\").item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "rawResponse",
              "value": "={{ $json.rawResponse }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13a4bbe3-7b2b-4185-b22f-c1139793af87",
      "name": "Log Parse Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        80
      ],
      "id": "d5eb3d18-da83-461d-8a97-97b30fd8ca26",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        704,
        464
      ],
      "id": "845f0a28-dcf3-43d4-9006-9aa0a18455b8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ca0tjRV2UHqIf93C",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W16VdH1LE92Wm0VK0_Mwf7tCoBlxyiecq-HeoSv1sxQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        576
      ],
      "id": "ff155a21-e95b-412c-852b-534c9d140116",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZYdvZ4Zvr4kB1d8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Deal Flow Email": {
      "main": [
        [
          {
            "node": "Clean HTML Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML Email Body": {
      "main": [
        [
          {
            "node": "Build Claude AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude AI Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Claude JSON Response": {
      "main": [
        [
          {
            "node": "Validate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Response": {
      "main": [
        [
          {
            "node": "Normalize Financial Values",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Financial Values": {
      "main": [
        [
          {
            "node": "Prepare Final Structured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Structured Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Claude JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log Parse Error": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1d944e58-0d37-45a6-871e-d816a9f64f07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6916d33dd16e5029f753e8c66ce20f4307254453fbcd8853dc98908dc4dc601"
  },
  "id": "AQxoheyPMeGx0IeW",
  "tags": []
}